{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<form method="post" >{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.razon_social.id_for_label }}">{{ form.razon_social.label_tag }}</label>
      {{ form.razon_social|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.nombre_comercial.id_for_label }}">{{ form.nombre_comercial.label_tag }}</label>
      {{ form.nombre_comercial|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.correo.id_for_label }}">{{ form.correo.label_tag }}</label>
      {{ form.correo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label_tag }}</label>
      {{ form.telefono|add_class:'form-control' }}
    </div>
  </div>
  <div id="EmpresasAsociadas">
    <div class="row">
      <div class="col">
        <label for="{{ form.empresas_asociadas.id_for_label }}">{{ form.empresas_asociadas.label_tag }}</label>
        {{ form.empresas_asociadas|attr:'class:form-control'|attr:'v-model:selectedEmpresas' }}
      </div>
      <div class="col">
        <label>Buscar Empresa:</label>
        <p>
        <button type="button" class="btn btn-lg btn-primary my-2" data-toggle="modal" data-target="#buscarEmpresaModal">
          Buscar Empresa
        </button>
        </p>
      </div>
    </div>

    <!-- Empresa Modal -->
    <div class="modal fade" id="buscarEmpresaModal" tabindex="1" role="dialog" aria-labelledby="buscarEmpresaModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Buscar Empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-inline my-log-0">
              <input class="form-control mr-sm-2" type="text" placeholder="rfc, nombre"
                v-model="search_term" aria-label="Buscar">
              <button class="btn btn-outline-success my-sm-0" v-on:click.prevent="getEmpresaList()">
                Buscar
              </button>
            </div>
            <div class="my-1">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">RFC</th>
                    <th scope="col">Razón social</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="empresa in empresaList">
                    <th scope="col">
                      <a  href="#" v-on:click="getEmpresa(empresa.rfc)">${empresa.rfc}</a>
                    </th>
                    <th scope="col">${empresa.razon_social}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.cuidad_estado.id_for_label }}">{{ form.cuidad_estado.label_tag }}</label>
      {{ form.cuidad_estado|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.cp.id_for_label }}">{{ form.cp.label_tag }}</label>
      {{ form.cp|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.banco.id_for_label }}">{{ form.banco.label_tag }}</label>
      {{ form.banco|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.referencia_bancaria.id_for_label }}">{{ form.referencia_bancaria.label_tag }}</label>
      {{ form.referencia_bancaria|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
      <div class="col">
        <label for="{{form.forma_pago.id_for_label}}">{{form.forma_pago.label_tag}}</label>
        {{form.forma_pago|add_class:'form-control'}}
      </div>
      <div class="col">
        <label for="{{form.metodo_pago.id_for_label}}">{{form.metodo_pago.label_tag}}</label>
        {{form.metodo_pago|add_class:'form-control'}}
      </div>
      <div class="col">
        <label for="{{form.tipo_comprobante.id_for_label}}">{{form.tipo_comprobante.label_tag}}</label>
        {{form.tipo_comprobante|add_class:'form-control'}}
      </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{form.uso_cdfi.id_for_label}}">{{form.uso_cdfi.label_tag}}</label>
      {{form.uso_cdfi|add_class:'form-control'}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.direccion.id_for_label }}">{{ form.direccion.label_tag }}</label>
      {{ form.direccion|add_class:'form-control' }}
    </div>
  </div>
    <div class="row">
    <div class="col">
      <label for="{{ form.direccion_entrega.id_for_label }}">{{ form.direccion_entrega.label_tag }}</label>
      {{ form.direccion_entrega|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.extra_1.id_for_label }}">{{ form.extra_1.label_tag }}</label>
      {{ form.extra_1|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.extra_2.id_for_label }}">{{ form.extra_2.label_tag }}</label>
      {{ form.extra_2|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.extra_1.id_for_label }}">{{ form.extra_1.label_tag }}</label>
      {{ form.extra_2|add_class:'form-control' }}
    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-secondary my-2" value="Guardar Cambios">
</form>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/empresa/empresa_create.js' %}"></script>
{% endblock %}
