{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
<h4>¿Estas seguro de eliminar <a href="{% url 'gestor:detail_empresa' empresa.rfc%} ">{{ empresa.rfc }}<a>?</h4>
<form method="post">{% csrf_token %}
  <input type="submit" class="btn btn-lg btn-danger my-2" value="Eliminar">
</form>
{% endblock %}
