{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Facturas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_cotizacion_empresa' empresa.rfc %}">Cotizaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_contacto_empresa' empresa.rfc %}">Contactos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'gestor:list_empresa_archivo' empresa.rfc %}">Extras</a>
  </li>
</ul>
<div class="my-2">
  <h5>
    Cotizaciones:
  </h5>
</div>

<table class="table table-hover" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cotización</th>
        <th scope="col">Referencia</th>
        <th scope="col">FechaDePago</th>
        <th scope="col">Usuario</th>
        <th scope="col">Ganancia</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    {% for factura_cotizacion in object_list %}
      <tr>
        {% if factura_cotizacion.estado == 0 %}
          <th scope="col" class="table-warning">
            <a href="{% url 'gestor:detail_factura' empresa.rfc factura_cotizacion.factura.id %}">
              {{factura_cotizacionfactura.id}}
            </a>
          </th>
        {% elif factura_cotizacion.estado == 1 %}
          <th scope="col" class="table-success">
            <a href="{% url 'gestor:detail_factura' empresa.rfc factura_cotizacion.factura.id %}">
              {{factura_cotizacion.factura.id}}
            </a>
          </th>
        {% else %}
          <th scope="col" class="table-danger">
            <a href="{% url 'gestor:detail_factura' empresa.rfc factura_cotizacion.factura.id %}">
              {{factura_cotizacion.factura.id}}
            </a>
          </th>
        {% endif %}
        <th scope="col">
          <a href="{% url 'gestor:detail_cotizacion' empresa.rfc factura_cotizacion.id %}">
            {{factura_cotizacion.id}}
          </a>
        </th>
        <th scope="col">
          {{factura_cotizacion.referencia}}
        </th>
        <th scope="col">
          {{factura_cotizacion.factura.fecha_pago}}
        </th>
        <th scope="col">
          {{factura_cotizacion.usuario.username}}
        </th>
        <th scope="col">
          ${{factura_cotizacion.ganancia}}
        </th>
        <th scope="col">
          ${{factura_cotizacion.subtotal}}
        </th>
        <th scope="col">
          ${{factura_cotizacion.total}}
        </th>
      </tr>
    {% endfor %}
  </table>

</div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }} <span class="sr-only">actual</span></a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
