{% extends "gestor/base.html" %}

{% block title %}
  Facturas
{% endblock %}

{% block actions %}
  <h2>Facturas</h2>

  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Filtros de busqueda:</h5>
        <ul>
          <li>ID</li>
          <li>Referencia</li>
          <li>Fecha</li>
          <li>Factura(true,false)</li>
          <li>Empresa:
            <ul>
              <li>rfc</li>
              <li>Razon social</li>
            </ul>
          </li>
          <li>Estado:
            <ul>1: Pagada</ul>
            <ul>0: En curso</ul>
            <ul>-1: Cancelada</ul>
          </li>
          <li>Contacto</li>
          <li>Usuario</li>
        </ul>
    </div>
  </div>
{% endblock %}

{% block  content %}

<div id="CotizacionFacturaList">
  <h5 class="my-2">
    Buscar Factura:
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="id, nombre, empresa, fecha"
        v-model="search_term" aria-label="Buscar">
      <button class="btn btn-outline-success my-sm-0"
        v-on:click.prevent="getCotizacionFacturaList()">Buscar
      </button>
      <select class="form-control mx-1" v-model="estado">
        <option v-bind:value="{ number: 0}">En curso</option>
        <option v-bind:value="{ number: -1}">Canceladas</option>
        <option v-bind:value="{ number: 1}">Pagadas</option>
        <option v-bind:value="{ number: 2}">Sin Estado</option>
      </select>
    </div>
  </h5>
  <div >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cotización</th>
          <th scope="col">Referencia</th>
          <th scope="col">FechaDePago</th>
          <th scope="col">Usuario</th>
          <th scope="col">Empresa</th>
          <th scope="col">Ganancia</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Total</th>
        </tr>
        <tbody>
          <tr v-for="cotizacion in cotizacionFacturaList">
            <th scope="col" v-if="cotizacion.factura.estado === 1" class="table-success">
              <a :href="getCotizacionFacturaURL(cotizacion)">
                ${cotizacion.factura.id}
              </a>
            </th>
            <th scope="col" v-else-if="cotizacion.factura.estado === 0" class="table-warning">
              <a :href="getCotizacionFacturaURL(cotizacion)">
                ${cotizacion.factura.id}
              </a>
            </th>
            <th scope="col" v-else class="table-danger">
              <a :href="getCotizacionFacturaURL(cotizacion)">
                ${cotizacion.factura.id}
              </a>
            </th>
            <th scope="col">
              <a :href="getCotizacionUrl(cotizacion)">
                ${cotizacion.id}
              </a>
            </th>
            <th scope="col">${cotizacion.referencia}</th>
            <th scope="col">${cotizacion.factura.fecha_pago}</th>
            <th scope="col">${getUsuarioUsername(cotizacion)}</th>
            <th scope="col">
              <a :href="getCotizacionEmpresaUrl(cotizacion)">
                ${cotizacion.empresa.razon_social}
              </a>
            </th>
            <th scope="col">
              $${cotizacion.ganancia}
            </th>
            <th scope="col">
              $${cotizacion.subtotal}
            </th>
            <th scope="col">
                $${cotizacion.total}
            </th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="suma" style="background-color: #89ffd4 ;">$${suma_ganancia}</th>
            <th scope="col" class="suma" style="background-color: #63ffc7;">$${suma_subtotal}</th>
            <th scope="col" class="suma" style="background-color: #37f2ae;">$${suma_total}</th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/factura/factura_list.js' %}"></script>
{% endblock %}
