{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<h3>Cotizacion: {{cotizacion.nombre}} (id:{{cotizacion.pk}})</h3>
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.firma.id_for_label }}">{{ form.firma.label_tag }}</label>
      {{ form.firma|add_class:'form-control' }}
    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-secondary my-2" value="Facturar">
</form>
{% endblock %}
