{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block  empresa_item_content %}
<form method="post"> {% csrf_token %}
  <h5>¿Estas seguro de eliminar el contacto {{ contacto.nombre }}?</h5>
  <input type="submit" class="btn btn-danger btn-lg my-2" value="Eliminar Contacto">
</form>
{% endblock %}
