{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.prefijo.id_for_label }}">{{ form.prefijo.label_tag }}</label>
      {{ form.prefijo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.puesto.id_for_label }}">{{ form.puesto.label_tag }}</label>
      {{ form.puesto|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label_tag }}</label>
      {{ form.nombre|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.correo.id_for_label }}">{{ form.correo.label_tag }}</label>
      {{ form.correo|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.extension.id_for_label }}">{{ form.extension.label_tag }}</label>
      {{ form.extension|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label_tag }}</label>
      {{ form.telefono|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.celular.id_for_label }}">{{ form.celular.label_tag }}</label>
      {{ form.celular|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
   <div class="col">
      <label for="{{ form.extra.id_for_label }}">{{ form.extra.label_tag }}</label>
      {{ form.extra|add_class:'form-control' }}
    </div>
  </div>
  <input type="submit" class="btn btn-secondary my-2" value="Guardar Cambios">
</form>
{% endblock %}
