{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_factura_empresa' empresa.rfc %}">Facturas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_cotizacion_empresa' empresa.rfc %}">Cotizaciones</a>
  </li>
  <li class="nav-item">
  <li class="nav-item">
    <a class="nav-link active" href="#">Contactos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'gestor:list_empresa_archivo' empresa.rfc %}">Extras</a>
  </li>
</ul>
<div class="my-2">
  <h5>
    Contactos:
    <a class="btn btn-secondary" role="button" href="{% url 'gestor:create_contacto' empresa.rfc %}">Registar Contacto</a>
  </h5>
</div>

<table class="table table-hover" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    {% for contacto in object_list %}
      <tr class="clickable-tr" href="{% url 'gestor:detail_contacto' empresa.rfc contacto.id %">
        <th scope="col">
          <div id="contactoAccordion{{contacto.id}}">

            <div class="card">
              <div class="car-header" id="headingThree">
                <h6 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseContacto{{contacto.id}}"
                    aria-expanded="true" aria-controls="collapseContacto{{contacto.id}}">
                    {{ contacto.get_prefijo_display }} {{ contacto.nombre }}
                  </button>
                </h6>
              </div>
            </div>

            <div id="collapseContacto{{contacto.id}}" class="collapse not-show"
              aria-labelledby="headingThree" data-parent="contactoAccordion{{contacto.id}}">
              <div class="card-body">
                <h6>
                  <a class="btn btn-outline-warning mx-2" role="button"
                    href="{% url 'gestor:update_contacto' empresa.rfc contacto.id %}">
                    Actualizar
                  </a>
                  <a class="btn btn-outline-danger" role="button"
                    href="{% url 'gestor:delete_contacto' empresa.rfc contacto.id %}">
                    Eliminar
                  </a>
                </h6>
              </div>
            </div>

            <a href="#">

            </a>
          </div>
        </th>
        <th scope="col">
          {{ contacto.correo }}
        </th>
        <th scope="col">
          {{ contacto.telefono }}
        </th>
      </tr>
    {% endfor %}
  </table>

</div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }} <span class="sr-only">actual</span></a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
