{% load static %}
<!DOCTYPE html>
<html style="position: relative;min-height: 100%;">
<head>
  <meta charset="utf-8">
  <title>Cotizacion:Empresa{{empresa.rfc}}#{{cotizacion.id}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body style="margin-bottom: 50px;">
<main class="container">
  <div class="container">
    <img src="/home/eersya/Projects/revolucion/static/logo.jpg" class="img-fluid" width="300" alt="Logo">
    <div id="tuEmpresa" class="w-50 p-3 float-right">
      <h3>TU MEJOR OPCIÓN SOG SAS DE CV.</h3>

      <div id="datos" class="container">
        <dl class="row">
          <dt class="col-sm-3">RFC:</dt>
          <dd class="col-sm-7">TMO180124399</dd>

          <dt class="col-sm-3">DIRECCIÓN:</dt>
          <dd class="col-sm-7">SUBIDA LAURELES NO. 1 COL. SAN LUCAS PATONI CP 54100 TLALNEPANTLA DE BAZ, EDO. MÉX</dd>

          <dt class="col-sm-3">TEL:</dt>
          <dd class="col-sm-7">(55) 7258-0774</dd>
        </dl>
      </div>

    </div>
  </div>

  <div id="cotizacion">
    <h3>Cotización: #{{cotizacion.id}}</h3>
    <dl class="row">
      <dt class="col-sm-3">Fecha:</dt>
      <dd class="col-sm-9">{{cotizacion.fecha}}</dd>
    </dl>
  </div>

    <div id="empresa" class="container">
      <h3>{{empresa.razon_social}}</h3>
      <div id="datosEmpresa" class="container">
        <dl class="row">
          <dt class="col-sm-3">{{empresa.rfc}}</dt>
          <dd class="col-sm-7"></dd>

          <dt class="col-sm-3">Telefono: </dt>
          <dd class="col-sm-7"{{empresa.telefono}}></dd>

          <dt class="col-sm-3">Atención:</dt>
          <dd class="col-sm-9">{{cotizacion.contacto.nombre}}</dd>
        </dl>
      </div>
    </div>

  <div class="container">
    <h4>Prodcutos cotizados: </h4>
    <span cotizacion_id="{{cotizacion.id}}"></span>
    <div>
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col" style="width: 50%;">Descripción</th>
            <th scope="col">Disponibilidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">IVA</th>
            <th scope="col">Importe</th>
          </tr>
        </thead>
        <tbody>
          {% for producto_cotizado in productos_cotizados %}
            <tr>
              <th scope="col">{{producto_cotizado.producto.numero_parte}}</th>
              <th scope="col" style="width: 50%;"><p class="w-50" style="width: 50%;">{{producto_cotizado.descripcion}}</p></th>
              <th scope="col">{{producto_cotizado.disponibilidad}}</th>
              <th scope="col">${{producto_cotizado.precio}}</th>
              <th scope="col">{{producto_cotizado.cantidad}}</th>
              <th scope="col">${{producto_cotizado.monto_iva}}</th>
              <th scope="col">${{producto_cotizado.importe}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="float-right">
      <h5>Monto IVA: ${{cotizacion.monto_iva}}</h5>
      <h6>Subtotal: ${{cotizacion.subtotal}}</h6>
      <h2>Total: ${{cotizacion.total}}</h2>
    </div>

</main>

<footer class="footer" style="position: absolute;bottom: 0;width: 100%;height: 50px;line-height: 60px;">
  <div class="container" style="padding-right: 15px;padding-left: 15px;">
    <span class="text-muted">
      <ul>
        <li class="col-sm-7">Los precios son expresados en Moneda Nacional</li>
        <li class="col-sm-7">Los precios describen Impuestos y Servicios</li>
        <li class="col-sm-7">Los precios y disponibilidad pueden cambiar sin previo aviso</li>
      </ul>
    </span>
  </div>
</footer>

</body>


<html>
