{% extends "gestor/base.html" %}

{% block title %}
  Cotizaciones
{% endblock %}

{% block actions %}
  <h2>Cotizaciones</h2>

  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Filtros de busqueda:</h5>
        <ul>
          <li>ID</li>
          <li>Referencia</li>
          <li>Fecha</li>
          <li>Factura(true,false)</li>
          <li>Empresa:
            <ul>
              <li>rfc</li>
              <li>Razon social</li>
            </ul>
          </li>
          <li>Contacto</li>
          <li>Usuario</li>
        </ul>
    </div>
  </div>
{% endblock %}

{% block  content %}

<div id="CotizacionList">
  <h5 class="my-2">
    Buscar Cotización:
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="id, nombre, empresa, fecha"
        v-model="search_term" aria-label="Buscar">
      <button class="btn btn-outline-success my-sm-0"
        v-on:click.prevent="getCotizacionList()">Buscar
      </button>
    </div>
  </h5>
  <div >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Referencia</th>
          <th scope="col">Fecha</th>
          <th scope="col">Usuario</th>
          <th scope="col">Contacto</th>
          <th scope="col">Empresa</th>
          <th scope="col">Ganancia</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Total</th>
        </tr>
        <tbody >
          <tr v-for="cotizacion in cotizacionList">
            <th scope="col" v-if="cotizacion.is_factura" class="table-success">
              <a :href="getCotizacionUrl(cotizacion)">
                ${cotizacion.id}
              </a>
            </th>
            <th scope="col" v-else class="table-danger">
              <a :href="getCotizacionUrl(cotizacion)">
                ${cotizacion.id}
              </a>
            </th>
            <th scope="col">${cotizacion.referencia}</th>
            <th scope="col">${cotizacion.fecha}</th>
            <th scope="col">${getUsuarioUsername(cotizacion)}</th>
            <th scope="col">
              <a :href="getCotizacionContactoUrl(cotizacion)">
                ${getContactoNombre(cotizacion)}
              </a>
            </th>
            <th scope="col">
              <a :href="getCotizacionEmpresaUrl(cotizacion)">
                ${cotizacion.empresa.razon_social}
              </a>
            </th>
            <th scope="col">
              $${cotizacion.ganancia}
            </th>
            <th scope="col">
              $${cotizacion.subtotal}
            </th>
            <th scope="col">
              $${cotizacion.total}
            </th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="suma" style="background-color: #89ffd4 ;">$${suma_ganancia}</th>
            <th scope="col" class="suma" style="background-color: #63ffc7;">$${suma_subtotal}</th>
            <th scope="col" class="suma" style="background-color: #37f2ae;">$${suma_total}</th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/cotizacion_list.js' %}"></script>
{% endblock %}
