{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
  <h2>
    Cotización:
    <a href="#">
      #{{cotizacion.id}}
    </a>
    <a class="btn btn-primary" href="{% url 'gestor:generate_pdf_cotizacion' empresa.rfc cotizacion.pk %}">
      PDF
    </a>
  </h2>
  <div class="container">
    {% if not cotizacion.is_factura %}
      {% if cotizacion.usuario == request.user %}
        <a class="btn btn-primary" href="{% url 'gestor:create_factura' empresa.rfc cotizacion.pk %}">
          Facturar
        </a>
        <a class="btn btn-primary" href="{% url 'gestor:update_cotizacion' empresa.rfc cotizacion.pk %}">
          Actualizar cotiación
        </a>
      {% endif %}
    {% else %}
      <h5>Factura:
        <a href="{% url 'gestor:detail_factura' cotizacion.empresa.rfc factura.id %}">
          #{{factura.id}}
        </a>
      </h5>
      <h6>
        Estado: {{factura.get_estado_display}}
      </h6>
    {% endif %}
  </div>
  <h3 class="my-1">Referencia: {{cotizacion.referencia}}</h3>
  <h4>Fecha: {{cotizacion.fecha }}</h4>
  <div class="container">
    <dl class="row">
      <dt class="col-sm-3">Uso de CDFI:</dt>
      <dd class="col-sm-9">{{empresa.get_uso_cdfi_display}}</dd>

      <dt class="col-sm-3">Forma de pago:</dt>
      <dd class="col-sm-9">{{empresa.get_forma_pago_display}}</dd>

      <dt class="col-sm-3">Método de pago:</dt>
      <dd class="col-sm-9">{{empresa.get_metodo_pago_display}}</dd>

      <dt class="col-sm-3">Tipo de comprobante:</dt>
      <dd class="col-sm-9">{{empresa.get_tipo_comprobante_display}}</dd>

      <dt class="col-sm-3">Extras:</dt>
      <dd class="col-sm-9">{{cotizacion.extras}}</dd>
    </dl>
  </div>
  <div class="container">
    {% if not cotizacion.contacto is None %}
      <h5>Contacto:
        <a href="{% url 'gestor:detail_contacto' empresa.rfc cotizacion.contacto.id %}">
          {{cotizacion.contacto.nombre}}
        </a>
      </h5>
      <h6>Celular: {{cotizacion.contacto.numero }}<h6>
    {% endif %}
  </div>
  <div class="container">
    {% if not cotizacion.usuario is None %}
      <h4>
        Usuario: {{cotizacion.usuario.username }}
      </h4>
    {% endif %}
  </div>
  <h5>Prodcutos cotizados: </h5>
  <span cotizacion_id="{{cotizacion.id}}"></span>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Costo</th>
          <th scope="col">%&#x25B2;</th>
          <th scope="col">Provedor</th>
          <th scope="col">Disponibilidad</th>
          <th scope="col">IVA</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">IVA</th>
          <th scope="col">Importe</th>
        </tr>
      </thead>
      <tbody>
        {% for producto_cotizado in producto_cotizado_list %}
          <tr>
            <th scope="col">
              <a href="#" data-toggle="modal" data-target="#ActionsModal{{producto_cotizado.id}}">
                {{producto_cotizado.producto.numero_parte}}
              </a>
              <!-- ActionsModal -->
              <div class="modal fade" id="ActionsModal{{producto_cotizado.id}}" tabindex="-1" role="dialog" aria-labelledby="actionsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="actionsModalLabel">{{producto_cotizado.id}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <h5>Producto: {{producto_cotizado.producto.numero_parte}}</h5>
                        <div class="container">
                          <h6>Clave: {{producto_cotizado.producto.clave}}</h6>
                          <h6>IVA: %{{producto_cotizado.producto.tipo_iva}}</h6>
                          <p>Descripción: {{producto_cotizado.producto.descripcion}}</p>
                        </div>
                        <h5>Costo: ${{producto_cotizado.costo}}</h5>
                        <div class="container">
                          <h6>Margen de ganancia: %{{producto_cotizado.margen_ganancia}}</h6>
                          <h6>Precio: ${{producto_cotizado.precio}}</h6>
                          <h6>Cantidad: {{producto_cotizado.cantidad}}</h6>
                          <h5>Monto IVA: ${{producto_cotizado.monto_iva}}</h5>
                        </div>
                        <div>
                          <p>Descripción:{{producto_cotizado.descripcion}}</p>
                        </div>
                        <h4>Importe: ${{producto_cotizado.importe}}</h4>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      {% if not cotizacion.is_factura %}
                          <a class="btn btn-danger"
                            href="{%url 'gestor:delete_prodcuto_cotizado' empresa.rfc cotizacion.id producto_cotizado.id %}">
                            Eliminar
                          </a>
                          <a class="btn btn-dark"
                            href="{% url 'gestor:update_producto_cotizado' empresa.rfc cotizacion.id producto_cotizado.id %}">
                            Editar
                          </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th scope="col">${{producto_cotizado.costo}}</th>
            <th scope="col">%{{producto_cotizado.margen_ganancia}}</th>
            <th scope="col">{{producto_cotizado.provedor.rfc}}</th>
            <th scope="col">{{producto_cotizado.disponibilidad}}</th>
            <th scope="col">%{{producto_cotizado.producto.tipo_iva}}</th>
            <th scope="col">${{producto_cotizado.precio}}</th>
            <th scope="col">{{producto_cotizado.cantidad}}</th>
            <th scope="col">${{producto_cotizado.monto_iva}}</th>
            <th scope="col">${{producto_cotizado.importe}}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="float-right">
      <h6>Costo de operación: ${{cotizacion.costo_operacion}}</h6>
      <h5>Monto IVA: ${{cotizacion.monto_iva}}</h5>
      <h4>SubTotal: ${{cotizacion.subtotal}}</h4>
      <h3>Total: ${{cotizacion.total}}</h3>
    </div>
  </div>
  {% if not cotizacion.is_factura and cotizacion.usuario == request.user %}
    <div id="BuscarProducto" class="container">
      <h5 class="my-2">
        Buscar Producto:
        <div class="form-inline my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Producto"
            v-model="search_term" aria-label="Buscar">
          <button class="btn btn-outline-success my-sm-0"
            v-on:click.prevent="searchProducto()">Buscar</button>
        </div>
      </h5>
      <div class="container">
        <table class="table">
          <tr>
            <th scope="col">Número de parte</th>
            <th scope="col">T/P</th>
            <th scope="col">Clave</th>
            <th scope="col">U/M</th>
            <th scope="col">IVA</th>
            <th scope="col">Acciones</th>
          </tr>
          <tbody>
            <tr v-for="producto in productoSearchList">
              <th scope="col">${producto.numero_parte}</th>
              <th scope="col">${producto.tipo_producto}</th>
              <th scope="col">${producto.clave}</th>
              <th scope="col">${producto.unidad_medida}</th>
              <th scope="col">${producto.tipo_iva}</th>
              <th scope="col">
                <button class="btn btn-info">?</button>
                <a class="btn btn-dark" :href="getProductoAddUrl('{{empresa.rfc}}',{{cotizacion.id}}, producto)">+</a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/cotizacion/cotizacion_detail.js' %}"></script>
{% endblock %}
