{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_factura_empresa' empresa.rfc %}">Facturas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_cotizacion_empresa' empresa.rfc %}">Cotizaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gestor:list_contacto_empresa' empresa.rfc %}">Contactos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" href="#">Extras</a>
  </li>
</ul>
<div class="my-2">
</div>

<div class="container">
  <h5>
    Extras:
  </h5>

  <div class="container">
    <dl class="row">
      <dt class="col-sm-3">Extra 1:</dt>
      <dd class="col-sm-9">{{empresa.extra_1}}</dd>

      <dt class="col-sm-3">Extra 2:</dt>
      <dd class="col-sm-9">{{empresa.extra_1}}</dd>

      <dt class="col-sm-3">Extra 2:</dt>
      <dd class="col-sm-9">{{empresa.extra_1}}</dd>
    </dl>
  </div>

</div>

<div class="container">
  <h5>
    Archivos:
  </h5>

  <div class="container">
    <dl class="row">
      {% for archivo in object_list %}
        <dt class="col-sm-3">Fecha:</dt>
        <dd class="col-sm-9">{{archivo.fecha}}</dd>

        <dt class="col-sm-3">Archivo:</dt>
        <dd class="col-sm-9">
          <a href="{{archivo.archivo.url}}" download>{{archivo.archivo}}</a>
        </dd>
      {% endfor %}
    </dl>
  </div>
    
</div>
 
{% endblock %}