{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<h2>Factura: <a href="{% url 'gestor:detail_factura' empresa.rfc factura.id %}">#{{factura.id}}</a></h2>
<form method="POST">{% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            {{form.archivo.label_tag}}
        </label>
        <div class="input-group col-sm-10">
            <div class="custom-file">
                {{form.archivo|add_class:'custom-file-input'}}
                <label for="{{form.archivo.id_for_label}}" class="custom-file-label">
                    {{form.archivo.label_tag}}
                </label>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-lg btn-secondary my-2" value="Guardar">
</form>

{% endblock %}