{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
<form method="post"> {% csrf_token %}
  <h4>Cotización: <a href="{% url 'gestor:detail_cotizacion'  empresa.rfc cotizacion.id %}">#{{cotizacion.id}}</a></h4>
  <h5>¿Estas seguro de eliminar el producto {{producto_cotizado.producto.nombre}}({{producto_cotizado.id}})?</h5>
  {% if cotizacion.usuario == request.user %}
    <input type="submit" class="btn btn-danger btn-lg my-2" value="Eliminar Producto">
  {% endif %}
</form>
{% endblock %}
