{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content%}
{% load widget_tweaks %}
<h4>Cotización: <a href="{% url 'gestor:detail_cotizacion'  empresa.rfc cotizacion.id %}">#{{cotizacion.id}}</a></h4>
<div class="container">
  <h6>Producto: <a href="{% url 'gestor:detail_producto' producto.id %}">#{{producto.id}}</a></h6>
  <div class="container">
    <dl class="row">
      <dt class="col-sm-3">Número de parte:</dt>
      <dd class="col-sm-9">{{producto.numero_parte}}</dd>

      <dt class="col-sm-3">Clavé:</dt>
      <dd class="col-sm-9">{{producto.clave}}</dd>

      <dt class="col-sm-3">Tipo de producto</dt>
      <dd class="col-sm-9">{{producto.tipo_producto}}</dd>

      <dt class="col-sm-3">Unidad de medida:</dt>
      <dd class="col-sm-9">{{producto.unidad_medida}}</dd>
    </dl>
  </div>
</div>
<form method="post">{% csrf_token %}
  <div id="Calculadora">
    <div class="form-group row">
      <label for="{{form.margen_ganancia.id_for_label}}" class="col-sm-2 col-form-label">{{form.margen_ganancia.label_tag}}</label>
      <div class="input-group col-sm-10">
        {{form.margen_ganancia|attr:"v-model.number:margen"|attr:"class:form-control"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.costo.id_for_label }}" class="col-sm-2 col-form-label">{{ form.costo.label_tag }}</label>
      <div class="input-group col-sm-10">
        {{ form.costo|attr:"v-model.number:costo"|attr:"class:form-control" }}
        <div class="input-group-append">
          <span class="input-group-text">%&#x25B2;${margen}</span>
          <span class="input-group-text">Precio:</span>
          <span class="input-group-text">${getPrecio(costo)}</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.cantidad.id_for_label }}" class="col-sm-2 col-form-label">{{ form.cantidad.label_tag }}</label>
      <div class="input-group col-sm-10">
        {{ form.cantidad|attr:"v-model.number:cantidad"|attr:"class:form-control"  }}
        <div class="input-group-append">
          <span class="input-group-text">${precio}</span>
          <span class="input-group-text">Importe:</span>
          <span class="input-group-text">${getImporte()}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="{{ form.provedor.id_for_label }}" class="col-sm-2 col-form-label">{{ form.provedor.label_tag}}</label>
    <div id="BuscarProvedor">
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#buscarProvedorModal">
              Buscar Provedor
            </button>
          </div>
          {{form.provedor|attr:"class:custom-select"|attr:"v-model:currentEmpresaRFC"}}
          </div>
        </div>
      <!-- Buscar Provedor Modal -->
      <div class="modal fade" id="buscarProvedorModal" tabindex="1" role="dialog" aria-labelledby="buscarProvedorModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Buscar Provedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-inline my-log-0">
                <input class="form-control mr-sm-2" type="text" placeholder="rfc, nombre"
                  v-model="search_term" aria-label="Buscar">
                <button class="btn btn-outline-success my-sm-0" v-on:click.prevent="getEmpresaList()">
                  Buscar
                </button>
              </div>
              <div class="my-1">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">RFC</th>
                      <th scope="col">Razón social</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="empresa in empresaList">
                      <th scope="col">
                        <a  href="#" v-on:click="getEmpresa(empresa.rfc)">${empresa.rfc}</a>
                      </th>
                      <th scope="col">${empresa.razon_social}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="{{ form.descripcion.id_for_label }}" class="col-sm-2 col-form-label">
      {{form.descripcion.label_tag}}
    </label>
    <div class="col-sm-10">
      {% render_field form.descripcion class="form-control" placeholder=producto.descripcion %}
    </div>
  </div>
  {% if cotizacion.usuario == request.user %}
    <input type="submit" class="btn btn-lg btn-secondary my-2" value="Agregar producto">
  {% endif %}
</form>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/producto_add.js' %}"></script>
{% endblock %}
