{% extends "gestor/base.html" %}

{% block content %}
<form method="post"> {% csrf_token %}
  <h5>¿Estas seguro de eliminar el producto {{producto.numero_parte}}({{producto.id}})?</h5>
  <input type="submit" class="btn btn-danger btn-lg my-2" value="Eliminar Producto">
</form>
{% endblock %}
