{% extends "gestor/base.html" %}

{% block content %}
{% load widget_tweaks %}
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.numero_parte.id_for_label }}">{{ form.numero_parte.label_tag }}</label>
      {{ form.numero_parte|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.tipo_producto.id_for_label }}">{{ form.tipo_producto.label_tag }}</label>
      {{ form.tipo_producto|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.clave.id_for_label }}">{{ form.clave.label_tag }}</label>
      {{ form.clave|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.unidad_medida.id_for_label }}">{{ form.unidad_medida.label_tag }}</label>
      {{ form.unidad_medida|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.tipo_iva.id_for_label }}">{{ form.tipo_iva.label_tag }}</label>
      {{ form.tipo_iva|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
      <div class="col">
        <label for="{{ form.descripcion.id_for_label }}">{{ form.descripcion.label_tag }}</label>
        {{ form.descripcion|add_class:'form-control' }}
      </div>
    </div>
  <input type="submit" class="btn btn-lg btn-secondary my-2" value="Registrar">
</form>
{% endblock %}
