{% extends "gestor/base.html" %}

{% block title %}
  Productos
{% endblock %}

{% block actions %}
  <h2>Productos</h2>

  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Filtros de busqueda:</h5>
        <ul>
          <li>ID</li>
          <li>Número de parte</li>
        </ul>
    </div>
  </div>
{% endblock %}

{% block  content %}

<div id="ProductoList">
  <h5 class="my-2">
    Buscar Producto:
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="id, número de parte"
        v-model="search_term" aria-label="Buscar">
      <button class="btn btn-outline-success my-sm-0"
        v-on:click.prevent="getProductoList()">Buscar</button>
    </div>
  </h5>
  <div >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Número de parte</th>
        </tr>
        <tbody >
          <tr v-for="producto in productoList">
            <th scope="col">
              <a :href="getProductoUrl(producto)">${producto.id}</a>
            </th>
            <th scope="col">${producto.numero_parte}</th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/producto_list.js' %}"></script>
{% endblock %}
